h1 {
    color: white;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 29px;
    margin-bottom: 40px;
}
.float-container {
    background-color: #33cccc;
    overflow: auto;
    width: 800px;
    margin: 0 auto;
}

.float-child {
    background-color: #33cccc;
    height: 300px;
    width: 50%;
    float: left;
}
.form {
    width: 310px;
    margin: 0 auto;
}
.name {
    width: 310px;
    height: 40px;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 10px;
}
.email {
    width: 310px;
    height: 40px;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 10px;
}
.company {
    width: 151px;
    height: 40px;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 10px;
    margin-right: 2px;
}
.phone {
    width: 151px;
    height: 40px;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 10px;
    margin-left: 2px;
}
.message {
    width: 310px;
    height: 70px;
    padding: 20px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    resize: none;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
button {
    background-color: #ffe800;
    border: none;
    border-radius: 5px;
    color: black;
    justify-content: center;
    height: 40px;
    width: 151px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    float: right;
}
input::placeholder {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}
h2 {
    color: white;
    font-family: Candara Light;
    margin-bottom: 0%;
    margin-top: 10%;
}
.tekstas1 {
    color: white;
    font-family: Candara Light;
    margin-bottom: 1%;
}

.tekstas2 {
    color: yellow;
    font-family: Candara Light;
}
.ul {
    color: white;
    font-family: Candara Light;
    padding-inline-start: 16px;
}
.tekstas{
    padding-left: 30px;
}