body{
    background-color: #f46b95;
}
h1 {
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    margin-bottom: 80px;
}
.float-container {
    background-color: #1b2352;
    overflow: auto;
    width: 900px;
    margin: 0 auto;
    margin-top: 100px;
    height: 500px;
}
.float-child {
    background-color: #1b2352;
    height: 300px;
    width: 50%;
    float: left;
}
.main_text{
    color: #f66fae;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: 18px;
}
.tekstas{
    margin-left: 150px;
}
.simple_text{
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 10px;
    color: white;
    margin-top: 3px;
    margin-bottom: 18px;
}
.simple_text_paragraph{
    margin-bottom: 3px;
    margin-top: 3px;

}
::placeholder {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 10px;
    color: white;
}
.form {
    width: 310px;
    margin-left: 100px;
}
.name {
    width: 151px;
    height: 30px;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #4f5c87;
    margin-bottom: 10px;
    margin-right: 2px;
}
.lastname {
    width: 151px;
    height: 30px;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #4f5c87;
    margin-bottom: 10px;
    margin-left: 2px;
}
.email {
    width: 151px;
    height: 30px;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #4f5c87;
    margin-bottom: 10px;
    margin-right: 2px;
}
.phone {
    width: 151px;
    height: 30px;
    padding: 15px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    background-color: #4f5c87;
    margin-bottom: 10px;
    margin-left: 2px;
}
.message {
    color: white;
    width: 310px;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 5px;
    resize: none;
    margin-bottom: 5px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 10px;
    background-color: #4f5c87;
    
}
button {
    background-color: #f66fae;
    border: none;
    border-radius: 10px;
    color: white;
    justify-content: center;
    height: 30px;
    width: 75px;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 13px;
    float: left;
}
.navigation{
    margin-right: 40px;
    margin-right: 40px;
    font-size: 13px;
    font-family: 'Trebuchet MS', sans-serif;
}
#navigation-contact{
    color: #f66fae;
}
.followUS{
    margin-right: 10px;
    margin-right: 10px;
    font-family: 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 10px;
    font-weight: 900;
}