body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}


/* From uiverse.io by @alexroumi */

button {
    padding: 15px 25px;
    border: none;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 17px;
    transition: all 250ms;
    overflow: hidden;
    cursor: pointer;
    margin: 5px;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 0;
        background-color: #212121;
        z-index: -1;
        transition: all 250ms
    }
    &:hover {
        color: #e8e8e8;
    }
    &:hover::before {
        width: 100%;
    }
    &.red {
        color: orangered;
        background: crimson;
        color: white;
        &:before {
            background-color: orangered;
        }
        &:hover {
            color: white;
        }
    }
    &.blue {
        color: gray;
        background: skyblue;
        &:before {
            background-color: white;
        }
        &:hover {
            color: skyblue;
        }
    }
    &.green {
        color: white;
        background: lawngreen;
        &:before {
            background-color: white;
        }
        &:hover {
            color: lawngreen;
        }
    }
    &.circle {
        border-radius: 50%;
    }
    &:disabled {
        color: gray;
        background: gray;
        color: white;
        cursor: not-allowed;
        &:before {
            background-color: gray;
        }
        &:hover {
            color: white;
        }
    }
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 2s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    position: relative;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

h1.red {
    color: crimson;
}

.red-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: crimson;
    margin: 10px;
}

.blue-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: aqua;
    margin: 10px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid coral;
    color: coral;
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    flex-wrap: wrap;
}

.sc {
    width: 50px;
    height: 50px;
    background-color: coral;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}
.cinput {
    width: 50px;
    height: 50px;
    border: none;
    text-align: center;
    background-color: coral;
    font-size: 36px;
    font-weight: 600;
}

.sq100 {
    border: 2px solid gold;
}

.big-visual {
    width: 500px;
    height: 500px;
    background-color: #61dafb69;
    transition: all .5s;
    border: 5px dotted #61dafb;
    animation: App-logo-spin infinite 45s linear;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
    &.circle {
        border-radius: 50%;
    }
    &.square {
        border-radius: 50px;
    }
}

.nice-buttons-bin {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px 0;
    &.static {
        position: absolute;
        top: 20px;
    }
}

.nice-square {
    width: 100px;
    height: 100px;
    background-color: #61dafb69;
    transition: all .5s;
    border: 5px dotted #61dafb;
    animation: App-logo-spin infinite 10s linear;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-direction: column;
    flex-wrap: wrap;
}

.super-container {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    div {
        position: absolute;
        // top: 0;
        // left: 0;
        transition: all 0.7s;
    }
    .one {
        background-color: #dc143c20;
        border: 5px dotted #dc143c;
    }
    .two {
        background-color: #1e90ff20;
        border: 5px dotted #1e90ff;
    }
    .sq {
        width: 500px;
        height: 500px;
        border-radius: 3px;
    }
    .ci {
        width: 400px;
        height: 400px;
        border-radius: 50%;
    }
}

.animals-list {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 45px 0;
    flex-direction: column;
    .inputs {
        margin: 10px;
        padding: 10px;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid orangered;
        .input {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            input {
                border: none;
                font-size: 20px;
                padding: 4px;
                width: 100%;
                margin-bottom: 10px;
            }
        }
    }
    .list {
        margin: 10px;
        padding: 10px;
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid orangered;
    }
}

.check-box-2 {
    label {
        cursor: pointer;
    }
    input {
        display: none;
    }
    input:checked+label {
        color: crimson;
    }
}

.text-bin {
    margin: 10px;
    padding: 10px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid skyblue;
    input {
        border: none;
        font-size: 20px;
        padding: 4px;
        width: 100%;
        margin-bottom: 10px;
        max-width: 300px;
    }
}

.big-bin {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-direction: column;
    &__top {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        min-height: 900px;
        &__left {
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            min-height: 900px;
            input {
                transform: rotate(-90deg);
                width: 800px;
            }
        }
        &__right {
            width: 90%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            .nice {
                position: absolute;
                width: 100px;
                height: 100px;
                background-color: #61dafb69;
                transition: all .2s;
                border: 5px dotted #61dafb;
                animation: App-logo-spin infinite 10s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                border-radius: 50%;
                &.sec {
                    animation: App-logo-spin infinite 3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                }
                &.thi {
                    animation: App-logo-spin infinite 20s cubic-bezier(0.68, -0.55, 0.265, 1.55);
                }
            }
        }
    }
    &__bottom {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px 0;
        input {
            width: 800px;
        }
        span {
            display: inline-block;
            width: 100px;
        }
    }
}

.two-col {
    margin: 30px 0;
    width: 96%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 90vh;
    .one {
        width: 40%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }
    .two {
        width: 60%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.view-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    .sq {
        width: 200px;
        height: 200px;
        background-color: coral;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: white;
        font-weight: bold;
        overflow: hidden;
        position: relative;
        .id-number {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0 8px;
        }
        &.s0 {
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        &.s1 {
            border-top-left-radius: 70px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        &.s3 {
            border-top-left-radius: 0;
            border-bottom-right-radius: 70px;
            border-bottom-left-radius: 0;
        }
        &.s2 {
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 70px;
        }
    }
}

.inputs-bin {
    .bin {
        width: 100%;
        padding: 15px;
        margin: 30px;
        border: 1px dashed #ffffff30;
        position: relative;
        select {
            border: none;
            outline: none;
            font-size: 18px;
            box-shadow: none;
        }
        input[type=range] {
            margin-top: 30px;
            width: calc(100% - 30px);
        }
        span {
            position: absolute;
            background-color: #282c34;
            padding: 5px;
            font-weight: bold;
            color: #61dafb;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 30px;
            top: -25px;
            left: 10px;
            font-size: 20px;
        }
    }
    input {
        font-size: 18px;
        border: none;
        outline: none;
        background-color: black;
        padding: 5px;
        margin-bottom: 15px;
        color: white;
        font-family: 'Courier New', Courier, monospace;
        letter-spacing: 3px;
    }
    label.color {
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: inline-block;
        border: 3px solid black;
        box-sizing: border-box;
        margin: 0 10px;
        transition: all 0.3s;
    }
    input:checked+label.color {
        border-color: white;
    }
    label.type {
        width: 50px;
        height: 50px;
        cursor: pointer;
        display: inline-block;
        margin: 0 10px;
        border: 3px solid white;
        transition: all 0.1s;
    }
    input {
        &+input+label.type {
            border-top-left-radius: 22px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        &+input:checked+label.type {
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
    input:checked {
        &+input+label.type {
            border-top-left-radius: 0;
            border-bottom-right-radius: 22px;
            border-bottom-left-radius: 0;
        }
        &+input:checked+label.type {
            border-top-left-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 22px;
        }
    }
    input[type=checkbox] {
        display: none;
    }
}

.loader {
    list-style: none;
    width: 8vmax;
    height: 8vmax;
    border-right: 4px solid #ffffff;
    border-radius: 100%;
    animation: spinRight 800ms linear infinite;
    &:before,
    &:after {
        content: '';
        width: 6vmax;
        height: 6vmax;
        display: block;
        position: absolute;
        top: calc(50% - 3vmax);
        left: calc(50% - 3vmax);
        border-left: 3px solid #ffffff;
        border-radius: 100%;
        animation: spinLeft 800ms linear infinite;
    }
    &:after {
        width: 4vmax;
        height: 4vmax;
        top: calc(50% - 2vmax);
        left: calc(50% - 2vmax);
        border: 0;
        border-right: 2px solid #ffffff;
        animation: none;
    }
}

@keyframes spinLeft {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(720deg);
    }
}

@keyframes spinRight {
    from {
        transform: rotate(360deg);
    }
    to {
        transform: rotate(0deg);
    }
}

ul {
    padding: 0;
    width: 90%;
}

.users-list {
    width: 100%;
    list-style: none;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.books-list {
    width: 100%;
    list-style: none;
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    li.li-book {
        width: 300px;
        height: 400px;
        padding: 10px;
        margin: 10px;
        position: relative;
        h2 {
            font-size: 20px;
            height: 50px;
            overflow: hidden;
            text-align: center;
            line-height: 24px;
        }
        .price {
            color: orangered;
            font-weight: bold;
            // text-align: right;
            font-size: 22px;
            margin-right: 20px;
        }
        .cat {
            position: absolute;
            padding: 5px;
            background-color: #ffffff70;
            top: 0;
            left: 0;
            font-size: 12px;
            font-weight: bold;
            color: darkslategray;
        }
        .author {
            font-size: 20px;
            color: gray;
        }
        .bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
        }
        img {
            height: 210px;
            width: auto;
        }
    }
}

.cart-bin {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .cart {
        position: relative;
        margin-right: 180px;
        svg {
            fill: orange;
            width: 40px;
            height: 40px;
        }
        span {
            position: absolute;
            font-size: 16px;
            color: orange;
            top: -13px;
            display: inline-block;
            width: 100%;
            text-align: center;
        }
        .cart-list {
            display: none;
            position: absolute;
            width: 180px;
            z-index: 20;
            div {
                font-size: 17px;
                line-height: 25px;
                background-color: #ffffff;
                color: black;
                padding: 5px 25px 5px 5px;
                border-bottom: 1px solid orange;
                height: 50px;
                overflow: hidden;
                position: relative;
                i {
                    position: absolute;
                    top: 5px;
                    right: 8px;
                    font-weight: bold;
                }
                b {
                    position: absolute;
                    bottom: 5px;
                    right: 8px;
                    color: orange;
                    display: block;
                    width: 17px;
                    height: 17px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    border: 1px solid orange;
                    cursor: pointer;
                }
            }
        }
        &:hover .cart-list {
            display: block;
        }
    }
}

.counter {
    display: flex;
    flex-direction: column;
    svg {
        fill: orange;
        width: 20px;
        height: 20px;
        cursor: pointer;
        &.down {
            transform: rotate(180deg);
        }
    }
    span {
        color: orange;
        font-size: 20px;
        font-weight: bold;
        line-height: 24px;
    }
}