body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* From uiverse.io by @alexroumi */
button {
  padding: 15px 25px;
  border: none;
  color: #212121;
  z-index: 1;
  background: #e8e8e8;
  position: relative;
  font-weight: 1000;
  font-size: 17px;
  transition: all 250ms;
  overflow: hidden;
  cursor: pointer;
  margin: 5px;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #212121;
    z-index: -1;
    transition: all 250ms
  }

  &:hover {
    color: #e8e8e8;
  }

  &:hover::before {
    width: 100%;
  }

  &.red {
    background: crimson;
    color: white;

    &:before {
      background-color: white;
    }

    &:hover {
      color: crimson;
    }
  }

  &.blue {
    background: blue;
    color: white;

    &:before {
      background-color: white;
    }

    &:hover {
      color: blue;
    }
  }

  &.green {
    background: green;
    color: white;

    &:before {
      background-color: white;
    }

    &:hover {
      color: green;
    }
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

h1.red {
  color: red;
}

.red-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: red;
  margin: 5px;
}

.blue-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: blue;
  margin: 5px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 5px;
  background: red;
}

.sc {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin: 5px;
  background: blue;
  font-weight: bold;
  border: 0px solid red;
}

.kvadratas {
  border: 6px solid gold;
  margin: 5px;
}

.circleNumbers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 5px;
  background: red;
}

.big-visual {
  width: 300px;
  height: 300px;
  background-color: #61dafb;
  transition: all .5s;
}

.nice-buttons-bin {
  width: 100%;
}

.nice-square {
  width: 80px;
  height: 80px;
  background-color: #61dafb69;
  transition: all .5s;
  border: 5px dotted #61dafb;
  animation: App-logo-spin infinite 10s linear;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: wrap;
}
